<!DOCTYPE html>
<html>
  <head>
    <title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1></h1>
    <p>Welcome <b><%= user %></b></p>
    <h1>Register a new device!</h1>
    <form action="/devices/register" method="post" >
        <input type= "text" placeholder="Device name" name="name">
        <input type= "text" placeholder="Connected Appliance" name = "connectedDevice">
        <button>Submit</button>
    </form>
  </body>
</html>
